<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rouletteassistant">

    <application
        android:label="Indian Roulette Assistant"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
